In [1]:
import pandas as pd

In [7]:
name = ["raja", "pankaj", "sudhir", "rohit","sudhanshu", "mohan", "sunny", "rohit"]
salary = [20, 30, 40, 50, 60, 70, 80, 90]

In [8]:
topo = {'name': name,  'salary': salary}

In [9]:
df = pd.DataFrame(topo)

In [11]:
df.to_csv('topo.csv')

In [12]:
df

        name  salary
0       raja      20
1     pankaj      30
2     sudhir      40
3      rohit      50
4  sudhanshu      60
5      mohan      70
6      sunny      80
7      rohit      90

In [21]:
df = pd.read_csv('topo.csv', index_col = 0)

In [22]:
nodes = df.columns.to_list()

In [23]:
nodes = [node.strip() for node in nodes]

In [24]:
nodes

['name', 'salary']

In [25]:
def get_edges(node: str, weights: list, all_nodes: list, minium_weight: int):

IndentationError: expected an indented block (678189851.py, line 1)